footer.footer
    .footer-row
        .company
            h3.footer-menu-title Company
            ul.footer-menu-list
                li.footer-menu-item
                    a.footer-menu-link(href="#") About
                li.footer-menu-item
                    a.footer-menu-link(href="#") Jobs
                li.footer-menu-item
                    a.footer-menu-link(href="#") Press
                li.footer-menu-item
                    a.footer-menu-link(href="#") Blog
                li.footer-menu-item
                    a.footer-menu-link(href="#") Help
                li.footer-menu-item
                    a.footer-menu-link(href="#") Poliies
                li.footer-menu-item
                    a.footer-menu-link(href="#") Terms & Privacy
        .disover
            h3.footer-menu-title Disover
            ul.footer-menu-list
                li.footer-menu-item
                    a.footer-menu-link(href="#") Become a Memeber
                li.footer-menu-item
                    a.footer-menu-link(href="#") Properties List
                li.footer-menu-item
                    a.footer-menu-link(href="#") Sign In
                li.footer-menu-item
                    a.footer-menu-link(href="#") Widgets
                li.footer-menu-item
                    a.footer-menu-link(href="#") Components
                li.footer-menu-item
                    a.footer-menu-link(href="#") Tables
                li.footer-menu-item
                    a.footer-menu-link(href="#") Lists
        .contact
            h3.contact-title Get in Touch
            .contact-phone
                img.phone-icon(src="img/phone.png" alt="phone-icon")
                span.phone-number 800 234 67 89
            address.contact-address 516 Green St<br>San Francisco, CA 94133<br>United States
            ul.contact-social.social-list-white
                li.social-item-white.social-face-white
                    a.contact-link.social-face-link-white(href="#") Facebook
                li.social-item-white.social-twi-white
                    a.contact-link.social-twi-link-white(href="#") Twitter
                li.social-item-white.social-goog-white
                    a.contact-link.social-goog-link-white(href="#") Google
                li.social-item-white.social-in-white
                    a.contact-link.social-in-link-white(href="#") In
        .subscribe
            h3.subscribe-title Subscribe to Our Newsletter
            form.subscribe-form(method="post" action="#")
                input.form-input.subscribe-form-input(name="subscribe-email" placeholder="Email Address" type="email")
                button.btn.btn-subscribe(type="submit") Subscribe
    .footer-row-copyright
        span.copyright-text Real estate web application<br>© 2014