include mixins/layout.mixins.jade

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content='Real-Estate')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="icon" type="image/png" href="img/favicon.png")
        title
            block title
        //build:css css/jquery.bxslider.min.css
        +vendor('style', 'bxslider/jquery.bxslider.css')
        //endbuild
        link(rel="stylesheet" href="css/styles.min.css")
    body
        header.header
            a.logo-link(href="#")
                img.logo-img(src="img/logo.png" alt="Logo" width="30px" height="24px")
                .menu-logo Reales
            nav.menu
                ul.menu-list
                    li.menu-item
                        a.menu-link(href="#") Sign Up
                    li.menu-item
                        a.menu-link(href="#") Sign In
                    li.menu-item
                        a.menu-link.menu-link-active(href="#") List a Property

        block content

        footer.footer
            .footer-row
                .company
                    h3.company-title Company
                    ul.company-list
                        li.company-item
                            a.company-link(href="#") About
                        li.company-item
                            a.company-link(href="#") Jobs
                        li.company-item
                            a.company-link(href="#") Press
                        li.company-item
                            a.company-link(href="#") Blog
                        li.company-item
                            a.company-link(href="#") Help
                        li.company-item
                            a.company-link(href="#") Poliies
                        li.company-item
                            a.company-link(href="#") Terms & Privacy
                .disover
                    h3.disover-title Disover
                    ul.disover-list
                        li.disover-item
                            a.disover-link(href="#") Become a Memeber
                        li.disover-item
                            a.disover-link(href="#") Properties List
                        li.disover-item
                            a.disover-link(href="#") Sign In
                        li.disover-item
                            a.disover-link(href="#") Widgets
                        li.disover-item
                            a.disover-link(href="#") Components
                        li.disover-item
                            a.disover-link(href="#") Tables
                        li.disover-item
                            a.disover-link(href="#") Lists
                .contact
                    h3.contact-title Get in Touch
                    .contact-phone
                        img.phone-icon(src="img/phone.png" alt="phone-icon" width="16" height="16")
                        span.phone-number 800 234 67 89
                    address.contact-address 516 Green St<br>San Francisco, CA 94133<br>United States
                    ul.contact-social.social-list-white
                        li.social-item-white.social-face-white
                            a.contact-link.social-face-link-white(href="#")
                        li.social-item-white.social-twi-white
                            a.contact-link.social-twi-link-white(href="#")
                        li.social-item-white.social-goog-white
                            a.contact-link.social-goog-link-white(href="#")
                        li.social-item-white.social-in-white
                            a.contact-link.social-in-link-white(href="#")
                .subscribe
                    h3.subscribe-title Subscribe to Our Newsletter
                    form.subscribe-form(method="post" action="#")
                        input.form-search-input.subscribe-form-input(name="subscribe-email" placeholder="Email Address" type="email")
                        button.btn.btn-subscribe(type="submit") Subscribe
            .footer-row-copyright
                .copyright
                    p.copyright-text Real estate web application<br>© 2014


    script(src="js/jquery.min.js")
    script(src="js/jquery.bxslider.js")

    //build:js js/main.min.js
    script(src="../../js/slider.js")
    //endbuild