include mixins/layout.mixins.jade

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content='Real-Estate')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="icon" type="image/png" href="img/favicon.png")
        title
            block title
        link(rel="stylesheet" href="css/styles.min.css")
    body
        header.header
            nav.menu
                a.menu-logo(href="#") Reales
                ul.menu-list
                    li.menu-item
                        a.menu-link(href="#") Sign Up
                    li.menu-item
                        a.menu-link(href="#") Sign In
                    li.menu-item
                        a.menu-link.menu-link-active(href="#") List a Property

        block content

        footer.footer
            .footer__text &copy;

    //build:js js/jquery.min.js
    +vendor('script', 'jquery/dist/jquery.min.js')
    //endbuild
    //build:js js/main.min.js
    script(src="../../js/map.js")
    //endbuild