.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.501961) 100%);
  z-index: 10;
}

.header-wrap {
  @include width1100();
  position: relative;
}

.box {
  position: relative;
  //display: flex;
}

.slider {
  height: 600px;
  background-color: #cccccc;
}

.slider-item {
  background-color: #cccccc;
  position: relative;
}

.home {
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 1100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.group-search {
  width: 100%;
  z-index: 10;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.promo {
  width: 100%;
  background-color: $green;
  padding-top: 26px;
  padding-bottom: 31px;
}

.promo-wrap {
  @include width1100();
}

.services {
  width: 1100px;
  margin: 0 auto;
  padding-top: 41px;
}

.container {
  margin: 0 auto;
  width: 1366px;
}

.container-posts {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.body-gray {
  background-color: #f3f3f3;
}

.service {
  box-sizing: border-box;
  width: 22%;
  float: left;
  position: relative;
  padding-top: 139px;
  padding-bottom: 41px;
  text-decoration: none;
  margin-right: 30px;
  &:nth-last-child(1) {
    float: right;
  }
  transition: 0.4s ease-in-out;
  &:hover {
    background-color: $green;
    border-radius: 3px;
    transform: scale(1.1);
    & .service-title {
      color: white;
    }
    & .service-desc {
      color: #ffffff;
    }
    & .service-image-house {
      background-position: -78px -5px;
    }
    & .service-image-pin {
      background-position: -203px -5px;
    }
    & .service-image-user {
      background-position: -478px -5px;
    }
    & .service-image-cloud {
      background-position: -324px -5px;
    }
  }
}

.service-row {
  @include clearfix();
}

.properties {
  padding-top: 28px;
}

.properties-row {
  text-align: center;
}

.property-popup {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 12px;
  font-size: 13px;
  color: white;
  width: 353px;
  height: 212px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.property {
  @include inline-block-top;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 0;
  &:hover {
    .property-popup {
      visibility: visible;
    }
    .property-image {
      filter: grayscale(100%) blur(1px);
    }
  }
}

.property-link {
  text-decoration: none;
  position: relative;
  display: block;
  text-align: center;
}

.property-popup-list {
  position: absolute;
  left: 0;
  bottom: 33px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.agents {
  padding-top: 40px;
}

.agents-row {
  @include clearfix();
  text-align: center;
  width: 1120px;
  margin: 0 auto;
}

.agent {
  width: 25%;
  box-sizing: border-box;
  float: left;
  font-size: 13px;
  text-align: center;

  &:nth-last-child(1) {
    float: right;
  }
  &:hover .agent-name {
    color: $green;
    font-weight: bold;
  }
}

.testimonials {
  padding-top: 57px;
}

.testimonials-slider {
  list-style: none;
  @include clearfix();
}

.testimonials-wrap {
  box-sizing: border-box;
  width: 804px;
  display: block;
  margin: 0 auto;
}

.post {
  position: absolute;
  display: inline-block;
  top: 157px;
  width: 780px;
  color: white;
  text-align: center;
  left: 50%;
  margin-left: -390px;
  text-shadow: 0 1px 2px rgba(0, 1, 1, 0.6);
}

.post-author {
  text-align: left;
  position: absolute;
  bottom: 51px;
  left: 82px;
  color: white;
}

.posts {
  //margin-right: auto;
  flex-grow: 4;
  margin-left: 1px;
}

.sidebar {
  //width: 400px;
  flex-grow: 1;
  margin-top: 40px;
  //flex-basis: ;
  //flex: 1 400px;
}

.widget {
  padding-bottom: 36px;
}

.widget-content {
  text-align: right;
}

.widget-tags {
  margin-top: 4px;
}

.posts-wrap {
  display: flex;
  flex-wrap: wrap;
}

.article {
  flex-basis: 260px;
  width: 260px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 1, 1, 0.13);
  display: flex;
  flex-direction: column;
  height: 440px;
}

.flex-2x {
  flex-basis: 540px;
  width: 540px;
}

.article-author {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: 14px;
}

.posts-arrow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 149px;
  margin-top: -1px;
  margin-left: -1px;
}