extends ../blog.layout
block title
    | Real-Estate Blog

block content
    .box
        .slider
            ul#slider-post.slider-list
                li.slider-item
                    img.slider-item-image(src="img/slider01.jpg" alt="background01" width="1920" height="600")
                    section.post
                        .post-category Featured on Blog
                        h2.post-title The Psychology of Achieving Balance In<br>Interior Design
                        p.post-subtitle Interior design is about so much more than sense of style. We’ve already talked about your design choices are influencing your<br>subconscious, but that’s just scratching the surface.
                        a.btn.btn-read(href="#") Read More
                        .post-author
                            img.author-image(src="img/photo01.jpg" alt="photo01" width="150" height="150")
                            .author-name John Smith
                            p.author-text on
                            time.post-time(datetime="Sep 4, 2014") Sep 4, 2014
                            .author-position Senior Blog Editor
                li.slider-item
                    img.slider-item-image(src="img/slider02.jpg" alt="background02" width="1920" height="600")
                    section.post
                        .post-category Featured on Blog
                        h2.post-title Luminous 3 Bedroom Apartment Flaunting Modern Style
                        p.post-subtitle There are many variations of passages of Lorem Ipsum available It is a long established fact that a reader will be distracted by the readable content of a page when […]
                        a.btn.btn-read(href="#") Read More
                        .post-author
                            img.author-image(src="img/photo02.jpg" alt="photo02" width="150" height="150")
                            .author-name Antony Iglesias
                            p.author-text on
                            time.post-time(datetime="Sep 5, 2015") Sep 5, 2015
                            .author-position Blog Editor
                li.slider-item
                    img.slider-item-image(src="img/slider03.jpg" alt="background03" width="1920" height="600")
                    section.post
                        .post-category Featured on Blog
                        h2.post-title Provocative Home Design Re-Shaping The Landscape
                        p.post-subtitle There are many variations of passages of Lorem Ipsum available It is a long established fact that a reader will be distracted by the readable content of a page when […]
                        a.btn.btn-read(href="#") Read More
                        .post-author
                            img.author-image(src="img/photo03.jpg" alt="photo03" width="150" height="150")
                            .author-name Rust Cohle
                            p.author-text on
                            time.post-time(datetime="Sep 6, 2014") Sep 6, 2014
                            .author-position Blog Editor
                li.slider-item
                    img.slider-item-image(src="img/slider04.jpg" alt="background04" width="1920" height="600")
                    section.post
                        .post-category Featured on Blog
                        h2.post-title Subtly Twisting Geometry Inserted in Raw Nature
                        p.post-subtitle There are many variations of passages of Lorem Ipsum available It is a long established fact that a reader will be distracted by the readable content of a page when […]
                        a.btn.btn-read(href="#") Read More
                        .post-author
                            img.author-image(src="img/photo04.jpg" alt="photo04" width="150" height="150")
                            .author-name Jane Smith
                            p.author-text on
                            time.post-time(datetime="Sep 7, 2014") Sep 7, 2014
                            .author-position Blog Editor
                .slider-arrow-left
                    img.arrow-left-image(src="#" alt="#")
                .slider-arrow-right
                    img.arrow-right-image(src="#" alt="#")

    .container
        section.posts
            h1.posts-title Latest Posts
            .posts-wrap
                article.article.flex-2x
                    a.article-title-link(href="#")
                        img.article-image(src="#" alt="#")
                    a.article-category-link(href="#")
                        .article-category Architecture
                    a.article-title-link(href="#")
                        h2.article-title Subtly Twisting Geometry Inserted in Raw Nature
                    p.article-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    .article-author
                        .article-author-name John Smith
                        span.article-comma ,
                        time.article-datetime Sep 4, 2014
                article.article
                    a.article-title-link(href="#")
                        img.article-image(src="#" alt="#")
                    a.article-category-link(href="#")
                        .article-category Architecture
                    a.article-title-link(href="#")
                        h2.article-title Provocative Home Design Re-Shaping The Landscape
                    .article-author
                        .article-author-name John Smith
                        span.article-comma ,
                        time.article-datetime Sep 4, 2014
                article.article
                    a.article-title-link(href="#")
                        img.article-image(src="#" alt="#")
                    a.article-category-link(href="#")
                        .article-category Architecture
                    a.article-title-link(href="#")
                        h2.article-title Provocative Home Design Re-Shaping The Landscape
                    .article-author
                        .article-author-name John Smith
                        span.article-comma ,
                        time.article-datetime Sep 4, 2014
                article.article.flex-2x
                    a.article-title-link(href="#")
                        img.article-image(src="#" alt="#")
                    a.article-category-link(href="#")
                        .article-category Architecture
                    a.article-title-link(href="#")
                        h2.article-title Subtly Twisting Geometry Inserted in Raw Nature
                    p.article-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    .article-author
                        .article-author-name John Smith
                        span.article-comma ,
                        time.article-datetime Sep 4, 2014
                article.article
                    a.article-title-link(href="#")
                        img.article-image(src="#" alt="#")
                    a.article-category-link(href="#")
                        .article-category Architecture
                    a.article-title-link(href="#")
                        h2.article-title Provocative Home Design Re-Shaping The Landscape
                    .article-author
                        .article-author-name John Smith
                        span.article-comma ,
                        time.article-datetime Sep 4, 2014
                article.article
                    a.article-title-link(href="#")
                        img.article-image(src="#" alt="#")
                    a.article-category-link(href="#")
                        .article-category Architecture
                    a.article-title-link(href="#")
                        h2.article-title Provocative Home Design Re-Shaping The Landscape
                    .article-author
                        .article-author-name John Smith
                        span.article-comma ,
                        time.article-datetime Sep 4, 2014
                article.article
                    a.article-title-link(href="#")
                        img.article-image(src="#" alt="#")
                    a.article-category-link(href="#")
                        .article-category Architecture
                    a.article-title-link(href="#")
                        h2.article-title Provocative Home Design Re-Shaping The Landscape
                    .article-author
                        .article-author-name John Smith
                        span.article-comma ,
                        time.article-datetime Sep 4, 2014
            a.posts-arrow-left(href="#") Older Articles
            a.posts-arrow-right(href="#") Newer Articles
        aside.sidebar
            .widget
                h3.widget-title Categories
                .widget-content
                    ul.categories-list
                        li.categories-item
                            a.categories-link(href="#") Apartments (13)
                        li.categories-item
                            a.categories-link(href="#") Architecture (12)
                        li.categories-item
                            a.categories-link(href="#") Bedroom (25)
                        li.categories-item
                            a.categories-link(href="#") Furniture (34)
                        li.categories-item
                            a.categories-link(href="#") Ideas (56)
                        li.categories-item
                            a.categories-link(href="#") Kitchen (16)
                        li.categories-item
                            a.categories-link(href="#") Living Room (28)
                        li.categories-item
                            a.categories-link(href="#") Living Room (28)
                        li.categories-item
                            a.categories-link(href="#") Bathroom (21)
            .widget
                h3.widget-title Archive
                .widget-content
                    ul.archive-list
                        li.archive-item
                            a.archive-link(href="#") October 2014
                        li.archive-item
                            a.archive-link(href="#") September 2014
                        li.archive-item
                            a.archive-link(href="#") August 2014
                        li.archive-item
                            a.archive-link(href="#") July 2014
                        li.archive-item
                            a.archive-link(href="#") June 2014
                        li.archive-item
                            a.archive-link(href="#") May 2014
                        li.archive-item
                            a.archive-link(href="#") April 2014
                        li.archive-item
                            a.archive-link(href="#") March 2014
                        li.archive-item
                            a.archive-link(href="#") February 2014
                        li.archive-item
                            a.archive-link(href="#") January 2014
            .widget
                h3.widget-title Popular Tags
                .widget-content
                    span.tag furniture
                    span.tag architect
                    span.tag chair
                    span.tag modern
                    span.tag bathroom
                    span.tag table
                    span.tag sofa
                    span.tag bed
                    span.tag design
                    span.tag apartment
                    span.tag leather
                    span.tag lamp