extends ../blog.layout
block title
    | Real-Estate Blog

block content
    .box
        .slider
            ul#slider-post.slider-list
                li.slider-item
                    img.slider-item-image(src="img/slider01.jpg" alt="background01" width="1920" height="600")
                    section.post
                        .post-category Featured on Blog
                        h2.post-title The Psychology of Achieving Balance In<br>Interior Design
                        p.post-subtitle Interior design is about so much more than sense of style. We’ve already talked about your design choices are influencing your<br>subconscious, but that’s just scratching the surface.
                        a.btn.btn-read(href="#") Read More
                        .post-author
                            img.author-image(src="img/photo01.jpg" alt="photo01" width="150" height="150")
                            .author-name John Smith
                            p.author-text on
                            time.post-time(datetime="Sep 4, 2014") Sep 4, 2014
                            .author-position Senior Blog Editor
                li.slider-item
                    img.slider-item-image(src="img/slider02.jpg" alt="background02" width="1920" height="600")
                    section.post
                        .post-category Featured on Blog
                        h2.post-title Luminous 3 Bedroom Apartment Flaunting Modern Style
                        p.post-subtitle There are many variations of passages of Lorem Ipsum available It is a long established fact that a reader will be distracted by the readable content of a page when […]
                        a.btn.btn-read(href="#") Read More
                        .post-author
                            img.author-image(src="img/photo02.jpg" alt="photo02" width="150" height="150")
                            .author-name Antony Iglesias
                            p.author-text on
                            time.post-time(datetime="Sep 5, 2015") Sep 5, 2015
                            .author-position Blog Editor
                li.slider-item
                    img.slider-item-image(src="img/slider03.jpg" alt="background03" width="1920" height="600")
                    section.post
                        .post-category Featured on Blog
                        h2.post-title Provocative Home Design Re-Shaping The Landscape
                        p.post-subtitle There are many variations of passages of Lorem Ipsum available It is a long established fact that a reader will be distracted by the readable content of a page when […]
                        a.btn.btn-read(href="#") Read More
                        .post-author
                            img.author-image(src="img/photo03.jpg" alt="photo03" width="150" height="150")
                            .author-name Rust Cohle
                            p.author-text on
                            time.post-time(datetime="Sep 6, 2014") Sep 6, 2014
                            .author-position Blog Editor
                li.slider-item
                    img.slider-item-image(src="img/slider04.jpg" alt="background04" width="1920" height="600")
                    section.post
                        .post-category Featured on Blog
                        h2.post-title Subtly Twisting Geometry Inserted in Raw Nature
                        p.post-subtitle There are many variations of passages of Lorem Ipsum available It is a long established fact that a reader will be distracted by the readable content of a page when […]
                        a.btn.btn-read(href="#") Read More
                        .post-author
                            img.author-image(src="img/photo04.jpg" alt="photo04" width="150" height="150")
                            .author-name Jane Smith
                            p.author-text on
                            time.post-time(datetime="Sep 7, 2014") Sep 7, 2014
                            .author-position Blog Editor
                .slider-arrow-left
                    img.arrow-left-image(src="#" alt="#")
                .slider-arrow-right
                    img.arrow-right-image(src="#" alt="#")

    .container
        section.posts
            h1.posts-title Latest Posts

        aside.sidebar
