extends ../main.layout

block title
    | Real-Estate

block content
    .box
        .slider
            ul#slider1.slider-list
                li.slider-item
                    img.slider-item-image(src="img/slider01.jpg" alt="background01" width="1920" height="600")
                li.slider-item
                    img.slider-item-image(src="img/slider02.jpg" alt="background02" width="1920" height="600")
                li.slider-item
                    img.slider-item-image(src="img/slider03.jpg" alt="background03" width="1920" height="600")
        section.home
            h1.home-title Now it's easy to find your future home
            .home-subtitle With reales - real estate html template
            a.btn.btn-home(href="#") Learn More
        .group-search
            form.form-search#form-search(method="post" action="#")
                input.form-input(name="search-city" placeholder="City")
                select.form-search-select(name="select-bedrooms")
                    option(selected="selected") Bedrooms
                    option 1
                    option 2
                select.form-search-select(name="select-bathrooms")
                    option(selected="selected") Bathrooms
                    option 1
                    option 2
                .input-group
                    .input-group-dollar $
                    input.form-input(type="text" placeholder="From" name="search-min-price")
                .input-group
                    .input-group-dollar $
                    input.form-input(type="text" placeholder="To" name="search-max-price")
                label.form-search-label
                    input.form-search-check(type="checkbox" name="for-rent")
                    span.form-search-label-text For Rent
                label.form-search-label
                    input.form-search-check(type="checkbox" name="for-sale")
                    span.form-search-label-text For Sale
                button.btn.btn-green.btn-search(type="submit") Search

    .promo
        .promo-wrap
            h2.promo-title Find your new place with Reales
            .promo-desc Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem<br>cras adipiscing


    section.services
        h2.services-title Our Services
        .service-row
            .service
                a.service-link(href="#") Link
                .service-image.service-image-pin Pin
                h3.service-title Find places anywhere in the world
                .service-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .service
                a.service-link(href="#") Link
                .service-image.service-image-user User
                h3.service-title We have agents with experience
                .service-desc Nulla convallis egestas rhoncus consectetur adipiscing elit
            .service
                a.service-link(href="#") Link
                .service-image.service-image-house House
                h3.service-title Buy or rent beautiful properties
                .service-desc Donec facilisis fermentum sem, ac viverra ante luctus vel
            .service
                a.service-link(href="#") Link
                .service-image.service-image-cloud Cloud
                h3.service-title With agent account you can list properties
                .service-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit

    .properties
        h2.properties-title Recently Listed Properties
        .properties-row
            .property
                a.property-link(href="#") Link
                    .property-photo
                        img.property-image(src="img/img01.jpg" alt="img01")
                    .property-popup
                        .property-popup-schild For sale
                        .property-popup-price $1,750,000
                        hr.property-popup-line
                        h3.property-popup-title Modern Residence in New York
                        address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                        ul.property-popup-list.star-list
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-notactive NotStar
            .property
                a.property-link(href="#") Link
                    .property-photo
                        img.property-image(src="img/img02.jpg" alt="img02")
                    .property-popup
                        .property-popup-schild For sale
                        .property-popup-price $1,850,000
                        hr.property-popup-line
                        h3.property-popup-title Residence in LA
                        address.property-popup-address 38 Remsen St, LA 11201
                        ul.property-popup-list.star-list
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-notactive NotStar
            .property
                a.property-link(href="#") Link
                    .property-photo
                        img.property-image(src="img/img03.jpg" alt="img03")
                    .property-popup
                        .property-popup-schild For sale
                        .property-popup-price $1,950,000
                        hr.property-popup-line
                        h3.property-popup-title Modern Residence in New York
                        address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                        ul.property-popup-list.star-list
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-notactive NotStar
            .property
                a.property-link(href="#") Link
                    .property-photo
                        img.property-image(src="img/img04.jpg" alt="img04")
                    .property-popup
                        .property-popup-schild For sale
                        .property-popup-price $1,250,000
                        hr.property-popup-line
                        h3.property-popup-title Modern Residence in New York
                        address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                        ul.property-popup-list.star-list
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-notactive NotStar
            .property
                a.property-link(href="#") Link
                    .property-photo
                        img.property-image(src="img/img05.jpg" alt="img05")
                    .property-popup
                        .property-popup-schild For sale
                        .property-popup-price $1,450,000
                        hr.property-popup-line
                        h3.property-popup-title Residence in LA
                        address.property-popup-address 38 Remsen St, LA 11201
                        ul.property-popup-list.star-list
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-notactive NotStar
            .property
                a.property-link(href="#") Link
                    .property-photo
                        img.property-image(src="img/img06.jpg" alt="img06")
                    .property-popup
                        .property-popup-schild For sale
                        .property-popup-price $1,650,000
                        hr.property-popup-line
                        h3.property-popup-title Modern Residence in New York
                        address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                        ul.property-popup-list.star-list
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-active Star
                            li.star-item.star-item-notactive NotStar
    section.agents
        h2.agents-title Our Agents
        .agents-row
            .agent
                a.agent-link(href="#")
                    .agent-image
                        img.agent-photo(src="img/photo01.jpg" alt="photo01")
                    .agent-name John Smith
                ul.agent-list.star-list
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                ul.agent-social.social-list
                    li.social-item.social-mail
                        a.social-link.social-mail-link(href="#") Mail
                    li.social-item.social-face
                        a.social-link.social-face-link(href="#") Facebook
                    li.social-item.social-twi
                        a.social-link.social-twi-link(href="#") Twitter
                    li.social-item.social-goog
                        a.social-link.social-goog-link(href="#") Google
            .agent
                a.agent-link(href="#")
                    .agent-image
                        img.agent-photo(src="img/photo02.jpg" alt="photo02")
                    .agent-name Antony Iglesias
                ul.agent-list.star-list
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                ul.agent-social.social-list
                    li.social-item.social-mail
                        a.social-link.social-mail-link(href="#") Mail
                    li.social-item.social-face
                        a.social-link.social-face-link(href="#") Facebook
                    li.social-item.social-twi
                        a.social-link.social-twi-link(href="#") Twitter
                    li.social-item.social-goog
                        a.social-link.social-goog-link(href="#") Google
            .agent
                a.agent-link(href="#")
                    .agent-image
                        img.agent-photo(src="img/photo03.jpg" alt="photo03")
                    .agent-name Rust Cohle
                ul.agent-list.star-list
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                ul.agent-social.social-list
                    li.social-item.social-mail
                        a.social-link.social-mail-link(href="#") Mail
                    li.social-item.social-face
                        a.social-link.social-face-link(href="#") Facebook
                    li.social-item.social-twi
                        a.social-link.social-twi-link(href="#") Twitter
                    li.social-item.social-goog
                        a.social-link.social-goog-link(href="#") Google
            .agent
                a.agent-link(href="#")
                    .agent-image
                        img.agent-photo(src="img/photo04.jpg" alt="photo04")
                    .agent-name Jane Smith
                ul.agent-list.star-list
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                    li.star-item.star-item-active Star
                ul.agent-social.social-list
                    li.social-item.social-mail
                        a.social-link.social-mail-link(href="#") Mail
                    li.social-item.social-face
                        a.social-link.social-face-link(href="#") Facebook
                    li.social-item.social-twi
                        a.social-link.social-twi-link(href="#") Twitter
                    li.social-item.social-goog
                        a.social-link.social-goog-link(href="#") Google
    section.testimonials
        h2.testimonials-title Testimonials
        .testimonials-wrap
            ul#slider2.testimonials-slider
                li.testimonials-slider-item
                    .testimonial-photo
                        img.testimonial-image(src="img/photo03.jpg" alt="photo03")
                    span.testimonial-text There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration in some form, by injected humour, or randomised words
                    .testimonial-autor Rust Cohle
                li.testimonials-slider-item
                    .testimonial-photo
                        img.testimonial-image(src="img/photo04.jpg" alt="photo04")
                    span.testimonial-text There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration in some form, by injected humour, or randomised words
                    .testimonial-autor Jane Smith