extends ../main.layout

block title
    | Real-Estate

block content
    .box
        .slider
            ul#slider1.slider-list
                li.slider-item
                    img.slider-item-image(src="img/slider01.jpg" alt="background01" width="1920px" height="600px")
                li.slider-item
                    img.slider-item-image(src="img/slider02.jpg" alt="background02" width="1920px" height="600px")
                li.slider-item
                    img.slider-item-image(src="img/slider03.jpg" alt="background03" width="1920px" height="600px")
        section.home
            h1.home-title Now it's easy to find your future home
            .home-subtitle With reales - real estate html template
            a.btn.btn-black(href="#") Learn More
        .group-search
            form.form-search#form-search(method="post" action="#")
                input.form-search-input(name="search-city" placeholder="City")
                select.form-search-select(name="select-bedrooms")
                    option(selected="selected") Bedrooms
                    option 1
                    option 2
                select.form-search-select(name="select-bathrooms")
                    option(selected="selected") Bathrooms
                    option 1
                    option 2
                .input-group
                    .input-group-dollar $
                    input.form-search-input(type="text" placeholder="From" name="search-min-price")
                .input-group
                    .input-group-dollar $
                    input.form-search-input(type="text" placeholder="To" name="search-max-price")
                label.form-search-label
                    input.form-search-check(type="checkbox" name="for-rent")
                    .form-search-label-text For Rent
                label.form-search-label
                    input.form-search-check(type="checkbox" name="for-sale")
                    .form-search-label-text For Sale
                button.btn.btn-green.btn-search(type="submit") Search

    .promo
        h2.promo-title Find your new place with Reales
        p.promo-desc Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing

    .container
        section.services
            h2.services-title Our Services
            .service
                .service-image.service-image-pin
                h3.service-title Find places anywhere inthe world
                .service-desc Lorem ipsum dolor sit amet, consecteturadipiscing elit
            .service
                .service-image.service-image-user
                h3.service-title We have agents withexperience
                .service-desc Nulla convallis egestas rhoncus consecteturadipiscing elit
            .service
                .service-image.service-image-house
                h3.service-title Buy or rent beautifulproperties
                .service-desc Donec facilisis fermentum sem, ac viverraante luctus vel
            .service
                .service-image.service-image-cloud
                h3.service-title With agent account youcan list properties
                .service-desc Lorem ipsum dolor sit amet, consecteturadipiscing elit
        .properties
            h2.properties-title Recently Listed Properties
            .properties-row
                .property
                    a.property-link(href="#")
                        .property-image
                            img(src="#" alt="img01")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,750,000
                            hr.property-popup-line
                            h3.property-popup-title Modern Residence in New York
                            address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
                .property
                    a.property-link(href="#")
                        .property-image
                            img(src="#" alt="img02")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,750,000
                            hr.property-popup-line
                            h3.property-popup-title Residence in LA
                            address.property-popup-address 38 Remsen St, LA 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
                .property
                    a.property-link(href="#")
                        .property-image
                            img(src="#" alt="img03")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,750,000
                            hr.property-popup-line
                            h3.property-popup-title Modern Residence in New York
                            address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
            .properties-row
                .property
                    a.property-link(href="#")
                        .property-image
                            img(src="#" alt="img04")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,750,000
                            hr.property-popup-line
                            h3.property-popup-title Modern Residence in New York
                            address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
                .property
                    a.property-link(href="#")
                        .property-image
                            img(src="#" alt="img05")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,750,000
                            hr.property-popup-line
                            h3.property-popup-title Residence in LA
                            address.property-popup-address 38 Remsen St, LA 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
                .property
                    a.property-link(href="#")
                        .property-image
                            img(src="#" alt="img06")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,750,000
                            hr.property-popup-line
                            h3.property-popup-title Modern Residence in New York
                            address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
        section.agents
            h2.agents-title Our Agents
            .agents-row
                .agent
                    img.agent-photo(src="#" alt="photo01")
                    .agent-name John Smith
                    ul.agent-list.star-list
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                    ul.agent-social.social-list
                        li.social-item.social-mail
                            a.social-mail-link(href="#")
                        li.social-item.social-face
                            a.social-face-link(href="#")
                        li.social-item.social-twi
                            a.social-twi-link(href="#")
                        li.social-item.social-goog
                            a.social-goog-link(href="#")
                .agent
                    img.agent-photo(src="#" alt="photo02")
                    .agent-name Jane Smith
                    ul.agent-list.star-list
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                    ul.agent-social.social-list
                        li.social-item.social-mail
                            a.social-mail-link(href="#")
                        li.social-item.social-face
                            a.social-face-link(href="#")
                        li.social-item.social-twi
                            a.social-twi-link(href="#")
                        li.social-item.social-goog
                            a.social-goog-link(href="#")
                .agent
                    img.agent-photo(src="#" alt="photo03")
                    .agent-name Rust Cohle
                    ul.agent-list.star-list
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                    ul.agent-social.social-list
                        li.social-item.social-mail
                            a.social-mail-link(href="#")
                        li.social-item.social-face
                            a.social-face-link(href="#")
                        li.social-item.social-twi
                            a.social-twi-link(href="#")
                        li.social-item.social-goog
                            a.social-goog-link(href="#")
                .agent
                    img.agent-photo(src="#" alt="photo04")
                    .agent-name Antony Iglesias
                    ul.agent-list.star-list
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                    ul.agent-social.social-list
                        li.social-item.social-mail
                            a.social-mail-link(href="#")
                        li.social-item.social-face
                            a.social-face-link(href="#")
                        li.social-item.social-twi
                            a.social-twi-link(href="#")
                        li.social-item.social-goog
                            a.social-goog-link(href="#")
        section.testimonials
            h2.testimonials-title Testimonials
            ul.testimonials-slider
                li.testimonials-slider-item
                    img.testimonial-image(src="#" alt="pic01")
                    p.testimonial-text There are many variations of passages of Lorem Ipsum available, but the majorityhave suffered alteration in some form, by injected humour, or randomised words
                    .testimonial-autor Rust Cohle
                li.testimonials-slider-item
                    img.testimonial-image(src="#" alt="pic02")
                    p.testimonial-text There are many variations of passages of Lorem Ipsum available, but the majorityhave suffered alteration in some form, by injected humour, or randomised words
                    .testimonial-autor Jane Smith