extends ../main.layout

block title
    | Real-Estate

block content
    .box
        .slider
            ul#slider1.slider-list
                li.slider-item
                    img.slider-item-image(src="img/slider01.jpg" alt="background01" width="1920px" height="600px")
                li.slider-item
                    img.slider-item-image(src="img/slider02.jpg" alt="background02" width="1920px" height="600px")
                li.slider-item
                    img.slider-item-image(src="img/slider03.jpg" alt="background03" width="1920px" height="600px")
        section.home
            h1.home-title Now it's easy to find your future home
            .home-subtitle With reales - real estate html template
            a.btn.btn-home(href="#") Learn More
        .group-search
            form.form-search#form-search(method="post" action="#")
                input.form-search-input(name="search-city" placeholder="City")
                select.form-search-select(name="select-bedrooms")
                    option(selected="selected") Bedrooms
                    option 1
                    option 2
                select.form-search-select(name="select-bathrooms")
                    option(selected="selected") Bathrooms
                    option 1
                    option 2
                .input-group
                    .input-group-dollar $
                    input.form-search-input(type="text" placeholder="From" name="search-min-price")
                .input-group
                    .input-group-dollar $
                    input.form-search-input(type="text" placeholder="To" name="search-max-price")
                label.form-search-label
                    input.form-search-check(type="checkbox" name="for-rent")
                    .form-search-label-text For Rent
                label.form-search-label
                    input.form-search-check(type="checkbox" name="for-sale")
                    .form-search-label-text For Sale
                button.btn.btn-green.btn-search(type="submit") Search

    .promo
        h2.promo-title Find your new place with Reales
        p.promo-desc Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem<br>cras adipiscing

    .container
        section.services
            h2.services-title Our Services
            .service-row
                a.service(href="#")
                    .service-image.service-image-pin
                    h3.service-title Find places anywhere in the world
                    .service-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
                a.service(href="#")
                    .service-image.service-image-user
                    h3.service-title We have agents with experience
                    .service-desc Nulla convallis egestas rhoncus consectetur adipiscing elit
                a.service(href="#")
                    .service-image.service-image-house
                    h3.service-title Buy or rent beautiful properties
                    .service-desc Donec facilisis fermentum sem, ac viverra ante luctus vel
                a.service(href="#")
                    .service-image.service-image-cloud
                    h3.service-title With agent account you can list properties
                    .service-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .properties
            h2.properties-title Recently Listed Properties
            .properties-row
                .property
                    a.property-link(href="#")
                        img.property-image(src="img/img01.jpg" alt="img01" width="353" height="212")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,750,000
                            hr.property-popup-line
                            h3.property-popup-title Modern Residence in New York
                            address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
                .property
                    a.property-link(href="#")
                        img.property-image(src="img/img02.jpg" alt="img02" width="353" height="212")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,850,000
                            hr.property-popup-line
                            h3.property-popup-title Residence in LA
                            address.property-popup-address 38 Remsen St, LA 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
                .property
                    a.property-link(href="#")
                        img.property-image(src="img/img03.jpg" alt="img03" width="353" height="212")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,950,000
                            hr.property-popup-line
                            h3.property-popup-title Modern Residence in New York
                            address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
                .property
                    a.property-link(href="#")
                        img.property-image(src="img/img04.jpg" alt="img04" width="353" height="212")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,250,000
                            hr.property-popup-line
                            h3.property-popup-title Modern Residence in New York
                            address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
                .property
                    a.property-link(href="#")
                        img.property-image(src="img/img05.jpg" alt="img05" width="353" height="212")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,450,000
                            hr.property-popup-line
                            h3.property-popup-title Residence in LA
                            address.property-popup-address 38 Remsen St, LA 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
                .property
                    a.property-link(href="#")
                        img.property-image(src="img/img06.jpg" alt="img06" width="353" height="212")
                        .property-popup
                            .property-popup-schild For sale
                            .property-popup-price $1,650,000
                            hr.property-popup-line
                            h3.property-popup-title Modern Residence in New York
                            address.property-popup-address 39 Remsen St, Brooklyn, NY 11201
                            ul.property-popup-list.star-list
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-active
                                li.star-item.star-item-notactive
        section.agents
            h2.agents-title Our Agents
            .agents-row
                .agent
                    a.agent-link(href="#")
                        img.agent-photo(src="img/photo01.jpg" alt="photo01" width="150" height="150")
                        .agent-name John Smith
                    ul.agent-list.star-list
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                    ul.agent-social.social-list
                        li.social-item.social-mail
                            a.social-link.social-mail-link(href="#")
                        li.social-item.social-face
                            a.social-link.social-face-link(href="#")
                        li.social-item.social-twi
                            a.social-link.social-twi-link(href="#")
                        li.social-item.social-goog
                            a.social-link.social-goog-link(href="#")
                .agent
                    a.agent-link(href="#")
                        img.agent-photo(src="img/photo02.jpg" alt="photo02" width="150" height="150")
                        .agent-name Antony Iglesias
                    ul.agent-list.star-list
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                    ul.agent-social.social-list
                        li.social-item.social-mail
                            a.social-link.social-mail-link(href="#")
                        li.social-item.social-face
                            a.social-link.social-face-link(href="#")
                        li.social-item.social-twi
                            a.social-link.social-twi-link(href="#")
                        li.social-item.social-goog
                            a.social-link.social-goog-link(href="#")
                .agent
                    a.agent-link(href="#")
                        img.agent-photo(src="img/photo03.jpg" alt="photo03" width="150" height="150")
                        .agent-name Rust Cohle
                    ul.agent-list.star-list
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                    ul.agent-social.social-list
                        li.social-item.social-mail
                            a.social-link.social-mail-link(href="#")
                        li.social-item.social-face
                            a.social-link.social-face-link(href="#")
                        li.social-item.social-twi
                            a.social-link.social-twi-link(href="#")
                        li.social-item.social-goog
                            a.social-link.social-goog-link(href="#")
                .agent
                    a.agent-link(href="#")
                        img.agent-photo(src="img/photo04.jpg" alt="photo04" width="150" height="150")
                        .agent-name Jane Smith
                    ul.agent-list.star-list
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                        li.star-item.star-item-active
                    ul.agent-social.social-list
                        li.social-item.social-mail
                            a.social-link.social-mail-link(href="#")
                        li.social-item.social-face
                            a.social-link.social-face-link(href="#")
                        li.social-item.social-twi
                            a.social-link.social-twi-link(href="#")
                        li.social-item.social-goog
                            a.social-link.social-goog-link(href="#")
        section.testimonials
            h2.testimonials-title Testimonials
            .testimonials-wrap
                ul#slider2.testimonials-slider
                    li.testimonials-slider-item
                        img.testimonial-image(src="img/photo03.jpg" alt="photo03" width="150" height="150")
                        p.testimonial-text There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration in some form, by injected humour, or randomised words
                        .testimonial-autor Rust Cohle
                    li.testimonials-slider-item
                        img.testimonial-image(src="img/photo04.jpg" alt="photo04" width="150" height="150")
                        p.testimonial-text There are many variations of passages of Lorem Ipsum available, but the majority<br>have suffered alteration in some form, by injected humour, or randomised words
                        .testimonial-autor Jane Smith