.btn {
  border: none rgba(0, 0, 0, 0);
  text-decoration: none;
  @include inline-block-top;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  color: white;
  border-radius: 2px;
}

.btn-black {
  padding: 12px 20px;
  background-color: #333333;
  width: 115px;
  height: 41px;
  transition: background-color 0.7s ease;
  &:hover {
    background-color: black;
  }
  &:active {
    position: relative;
    top: 5px;
  }
}

.btn-green {
  background-color: $green;
  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  }
  &:active {
    position: relative;
    top: 3px;
  }
}

.btn-search {
  width: 70px;
  height: 36px;
}