.footer {
  width: 100%;
  background-color: #333333;
}

.footer-row {
  @include clearfix();
  margin: 0 auto;
  width: 1110px;
  padding-top: 36px;
  padding-bottom: 58px;
  color: white;
  padding-left: 19px;
}

.footer-row-copyright {
  text-align: center;
  padding-bottom: 44px;
}

.company, .disover, .contact {
  width: 25%;
  float: left;
}

.subscribe {
  width: 25%;
  float: right;
}

.company-title, .disover-title, .contact-title, .subscribe-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #c6e4e3;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  padding-bottom: 12px;
  margin-left: 2px;
}

.company-title {
  margin-left: -4px;
}

.subscribe-title {
  margin-left: 6px;
  margin-bottom: 4px;
}

.copyright-text {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.company-list, .disover-list {
  list-style: none;
}

.company-link, .disover-link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  transition: color 0.7s ease;
  &:hover {
    color: $green;
  }
  &:active {
    position: relative;
    left: 5px;
  }
}

.contact-phone {
  padding-left: 3px;
  padding-top: 3px;
}

.phone-number {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding-left: 4px;
}

.contact-address {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
  padding-top: 12px;
  padding-left: 2px;
  padding-bottom: 18px;
}

.contact-social {
  padding-left: 3px;
}

.social-item-white {
  border-radius: 50%;
  border: 1px #ffffff solid;
  width: 29px;
  height: 29px;
  @include inline-block-top;
  transition: background-color 0.7s ease;
  cursor: pointer;
  &:hover {
    background-color: white;
    & .social-face-link-white {
      background-position: -11px -2px;
    }
    & .social-twi-link-white {
      background-position: -93px -2px;
    }
    & .social-goog-link-white {
      background-position: -36px -2px;
    }
    & .social-in-link-white {
      background-position: -65px -2px;
    }
  }
}

.contact-link {
  background: url("../img/spritesheet-soc-white.png") no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-indent: -9999px;
}

.social-face-link-white {
  width: 5px;
  height: 11px;
  margin-top: 9px;
  background-position: -2px -2px;
}

.social-twi-link-white {
  margin-top: 10px;
  width: 11px;
  height: 9px;
  background-position: -78px -2px;
}

.social-goog-link-white {
  margin-top: 10px;
  width: 12px;
  height: 11px;
  background-position: -20px -2px;
}

.social-in-link-white {
  margin-top: 10px;
  width: 9px;
  height: 9px;
  background-position: -52px -2px;
}

.subscribe-form-input {
  @include inline-block-top;
  width: 260px;
  height: 37px;
  margin-bottom: 15px;
  padding: 2px 0 0 13px;
  margin-left: 6px;
}

.btn-subscribe {
  width: 260px;
  height: 36px;
  background-color: $green;
  margin-left: 5px;
  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  }
  &:active {
    position: relative;
    top: 3px;
  }
}