.slider-item-image {
  margin: 0 auto;
}

.service-image {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/spritesheet.png") no-repeat center;
}

.service-image-pin {
  top: 57px;
  width: 42px;
  height: 60px;
  background-position: -151px -5px;
}

.service-image-user {
  top: 57px;
  width: 75px;
  height: 65px;
  background-position: -393px -5px;
}

.service-image-house {
  top: 58px;
  width: 63px;
  height: 60px;
  background-position: -5px -5px;
}

.service-image-cloud {
  top: 61px;
  width: 59px;
  height: 54px;
  background-position: -255px -5px;
}

.property-image {
  border-radius: 4px;
  display: block;
  transition: .3s ease-in-out;
  filter: grayscale(0) blur(0);
}

.agent-photo {
  border-radius: 50%;
  background-color: #cccccc;
  width: 150px;
  height: 150px;
}

.testimonial-image {
  border-radius: 50%;
  background-color: #cccccc;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 22px;
}