.menu {
  @include clearfix();
  padding-top: 24px;
  padding-bottom: 28px;
  padding-left: 5px;
}

.logo-link {
  position: absolute;
  top: 23px;
  left: 5px;
  text-decoration: none;
  //float: left;
  color: white;
  font-size: 0;
  &:hover {
    border-bottom: 2px solid white;
  }
}

.menu-logo {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: white;
  @include inline-block-top;
  margin-top: 3px;
}

.menu-logo-text {
  font-family: 'OpenSansBold', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-left: 5px;
}

.logo-img {
  @include inline-block-top;
  padding-right: 5px;
}

.menu-item {
  @include inline-block-top;
  line-height: 36px;
  box-sizing: border-box;
}

.menu-list {
  float: right;
  font-size: 0;
  margin-top: -4px;
  margin-right: 52px;
}

.menu-link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  margin-left: 19px;
  &:hover {
    border-bottom: 1px solid white;
  }
}

.menu-link-active {
  border-radius: 2px;
  background-color: #0eaaa6;
  width: 117px;
  padding: 9px 15px 10px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    border: none;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  }
}

.search-link {
  position: absolute;
  right: 15px;
  top: 28px;
  &:hover {
    border-bottom: 1px solid white;
  }
}