.slider .bx-wrapper, .testimonials .bx-wrapper {
  box-shadow: none;
  border: none;
}

.star-list {
  @include inline-block-top;
  font-size: 0;
}

.star-item-active {
  background: url("../img/star.png") no-repeat;
  width: 13px;
  height: 12px;
  @include inline-block-top;
  padding-right: 3px;
}

.star-item-notactive {
  background: url("../img/star-notactive.png") no-repeat;
  width: 13px;
  height: 12px;
  @include inline-block-top;
}

.property-popup-line {
  background-color: rgba(255, 255, 255, 0.5);
  width: 212px;
  height: 1px;
  border: none;
  margin: 0 auto;
}

.social-list {
  list-style: none;
  width: 100%;
}

.social-item {
  display: inline-block;
  border-radius: 50%;
  border: 1px black solid;
  background-color: #ffffff;
  width: 29px;
  height: 29px;
  cursor: pointer;
}

.agent-social {
  padding-top: 7px;
}

.social-link {
  background: url("../img/spritesheet-soc.png") no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social-mail {
  border: 1px $green solid;
  transition: background-color 0.7s ease;
  &:hover {
    background-color: $green;
    & .social-mail-link {
      background-position: -79px -3px;
    }
  }
}

.social-mail-link {
  width: 12px;
  height: 10px;
  background-position: -61px -3px;
  margin-top: 10px;
}

.social-face {
  border: 1px #4d68a1 solid;
  transition: background-color 0.7s ease;
  &:hover {
    background-color: #4d68a1;
    & .social-face-link {
      background-position: -14px -3px;
    }
  }
}

.social-face-link {
  width: 5px;
  height: 11px;
  background-position: -3px -3px;
  margin-top: 9px;
}

.social-twi {
  border: 1px #5eb0ef solid;
  transition: background-color 0.7s ease;
  &:hover {
    background-color: #5eb0ef;
    & .social-twi-link {
      background-position: -114px -3px;
    }
  }
}

.social-twi-link {
  width: 11px;
  height: 9px;
  background-position: -97px -3px;
  margin-top: 10px;
}

.social-goog {
  border: 1px #dd4b39 solid;
  transition: background-color 0.7s ease;
  &:hover {
    background-color: #dd4b39;
    & .social-goog-link {
      background-position: -43px -3px;
    }
  }
}

.social-goog-link {
  width: 12px;
  height: 11px;
  background-position: -25px -3px;
  margin-top: 10px;
}