.slider .bx-wrapper {
  box-shadow: none;
  border: none;
}

.star-list {
  display: inline-block;
  font-size: 0;
}

.star-item-active {
  background: url("../img/star.png") no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
  padding-right: 3px;
}

.star-item-notactive {
  background: url("../img/star-notactive.png") no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
}

.property-popup-line{
  background-color: rgba(255, 255, 255, 0.5);
  width: 212px;
  height: 1px;
  border: none;
  margin: 0 auto;
}