.home-title {
  font-family: 'OpenSansBold', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1px;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.home-subtitle {
  font-family: 'OpenSansBold', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  padding-bottom: 21px;
}

.promo-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 7px;
}

.promo-desc {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  text-align: center;
}

.services-title, .properties-title, .agents-title, .testimonials-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  text-align: center;
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  line-height: 18px;
  padding-bottom: 20px;
}

.service-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: $green;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  //padding-bottom: 15px;
  padding: 10px 10px 15px 10px;
  line-height: 28px;
}

.service-desc {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #999999;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  padding: 5px;
}

.properties-title {
  padding-bottom: 34px;
}

.property-popup-schild {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #eab134;
  @include inline-block-top;
}

.property-popup-price {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 300;
  padding-top: 17px;
}

.property-popup-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 4px;
}

.property-popup-address {
  font-size: 11px;
  font-style: italic;
  padding-top: 4px;
}

.agent-link {
  text-decoration: none;
  color: #000;
}

.agents-title {
  padding-bottom: 34px;
}

.agent-name {
  padding-top: 8px;
  padding-bottom: 12px;
}

.testimonial-text {
  font-family: 'OpenSansItalic', 'Arial', sans-serif;
  color: #999999;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
}

.testimonial-autor {
  font-family: 'OpenSansBold', 'Arial', sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.testimonials-title {
  padding-bottom: 33px;
}

.post-category {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 14px;
}

.post-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 16px;
  letter-spacing: 1.2px;
}

.post-subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.author-name, .author-text, .post-time {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 23px;
}

.author-position {
  font-size: 9px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.author-text {
  margin-left: 5px;
}

.widget-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  line-height: 18px;
  text-align: right;
  padding-bottom: 29px;
  margin-right: -3px;
}

.tag {
  display: inline-block;
  color: white;
  font-size: 11px;
  font-weight: 400;
  text-align: right;
  border-radius: 2px;
  background-color: #777777;
  margin-left: 11px;
  margin-bottom: 5px;
  padding: 1px 2px 1px 2px;
}

.categories-list, .archive-list {
  list-style: none;
  margin-right: -3px;
}

.categories-link, .archive-link {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  transition: color 0.7s ease;
  &:hover {
    color: $green;
  }
  &:active {
    position: relative;
    left: 5px;
  }
}

.posts-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 33px;
}

.article-category-link, .article-title-link {
  text-decoration: none;
}

.article-category {
  font-family: 'OpenSansBold', 'Arial', sans-serif;
  color: #0eaaa6;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-left: 22px;
  margin-top: 12px;
  margin-bottom: 8px;
  transition: all 0.7s ease;
  &:hover {
    color: black;
    transform: scale(1.05);
  }
  &:active {
    position: relative;
    left: 5px;
  }
}

.article-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #333333;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  margin-left: 21px;
  margin-bottom: 9px;
  margin-right: 32px;
  transition: all 0.7s ease;
  &:hover {
    color: $green;
    transform: scale(1.05);
  }
  &:active {
    position: relative;
    left: 5px;
  }
}

.article-text {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-left: 21px;
  margin-right: 18px;
  line-height: 19px;
}

.posts-arrow-left, .posts-arrow-right {
  border: 1px #0eaaa6 solid;
  width: 117px;
  height: 36px;
  color: #0eaaa6;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
  border-radius: 36px;
  transition: color 0.7s ease;
  &:hover {
    color: black;
    border: 1px black solid;
  }
}

.posts-arrow-right {
  margin-right: 73px;
}