.home-title {
  font-family: 'OpenSansBold', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1px;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.home-subtitle {
  font-family: 'OpenSansBold', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  padding-bottom: 21px;
}