.home-title {
  font-family: 'OpenSansBold', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1px;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.home-subtitle {
  font-family: 'OpenSansBold', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  padding-bottom: 21px;
}

.promo-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 7px;
}

.promo-desc {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  text-align: center;
}

.services-title, .properties-title, .agents-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  text-align: center;
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  line-height: 18px;
  padding-bottom: 20px;
}

.service-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: $green;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 15px;
  line-height: 28px;
}

.service-desc {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  color: #999999;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}

.properties-title {
  padding-bottom: 34px;
}

.property-popup-schild {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #eab134;
  @include inline-block-top;
}

.property-popup-price {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 300;
  padding-top: 17px;
}

.property-popup-title {
  font-family: 'OpenSansLight', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 4px;
}

.property-popup-address {
  font-size: 11px;
  font-style: italic;
  padding-top: 4px;
}

.agents-title {
  padding-bottom: 34px;
}

.agent-name {
  padding-top: 8px;
  padding-bottom: 12px;
}